@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.font-outfit{
  font-family: var(--font-outfit);
}