@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .text-base{
   font-size: 14px !important; 
  }
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-nunito {
  font-family: var(--font-nunito);
}

label {
  font-family: var(--font-outfit);
  @apply text-black font-normal !text-base;
}

select,
input {
  @apply !h-11 shadow-formField !bg-white !border-adsbin-grey-200 !text-base !px-5;
}

textarea,
button[role="combobox"] {
  @apply shadow-formField !bg-white !border-adsbin-grey-200 !text-base !px-5;
}

.select-box button[role="combobox"] {
  @apply !border-adsbin-grey-100 !bg-white;
}

.text-xsm {
  font-size: 13px;
}

.sub sub {
  @apply text-sm bottom-0 font-bold;
}

.carousel-grid > button:not(:last-child){
  @apply left-5
}

.carousel-grid > button:last-child{
  @apply right-5
}

.anim-pulse:hover{
  animation: pulse 0.5s ease-in-out;
}

strong{
  @apply font-bold;
}

td>[role=checkbox], th>[role=checkbox]{
  @apply ml-2.5 md:ml-0;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}